
<app-home></app-home>



<h1>Saperator ============================</h1>
<section class="main-section">
  <!-- Title will come here  -->
  <div class="title">
    <h1>Add Student</h1>
  </div>

  <!-- To Do List form come here -->
  <div class="form-container">
    <form [formGroup]="newStudentForm" (ngSubmit)="submitData()">
      <div>
        <input type="number" placeholder="Enter Roll No" formControlName="rollNo">
      </div>

      <div>
        <input type="text" placeholder="Enter Student Name" formControlName="name">
      </div>

      <div>
        <input type="number" placeholder="Enter Age" formControlName="age">
      </div>

      <div>
        <input type="text" placeholder="Enter Email Addresss" formControlName="email">
      </div>
      <div class="lable-text">
        <p>Select Gender</p>
      </div>
      <div class="radio-section">
        <label>
          <input type="radio" formControlName="isMale" [value]="true" />Male
        </label>
        <label>
          <input type="radio" formControlName="isMale" [value]="false" /> Female
        </label>
      </div>
      <div class="lable-text" style="margin-bottom: 12px;">
        <p>Select Date</p>
      </div>
      <div>
        <input type="date" placeholder="Select Admission Date" formControlName="date">
      </div>

      <div>
        <button>ADD STUDENT</button>
      </div>

    </form>
  </div>
</section>


<section class="task-section">
  <div class="task-title">
    <h2>Student Data</h2>
  </div>

  <div class="table-section">
    <table>
      <tr>
        <th>Roll No.</th>
        <th>Student Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Date</th>
        <th>Gender</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
      <!-- Task list will come here -->
      <tr *ngFor="let student of studentData">
        <td>{{student.rollNo}}</td>
        <td>{{student.name}}</td>
        <td>{{student.age}}</td>
        <td>{{student.email}}</td>
        <td>{{student.date}}</td>
        <td>{{student.isMale?'Male':'Female'}}</td>
        <td (click)="deleteStudent(student.id)">Delete</td>
        <td (click)="update(student.id)">Update</td>
      </tr>

    </table>

  </div>
</section>

<!-- Update Form  -->
<section class="main-section" *ngIf="isShow;">
  <!-- Title will come here  -->
  <div class="title">
    <h1>Update Student</h1>
    <h2 style="color:white; text-align: center" (click)="setId()">Cancel</h2>
  </div>
  <div class="form-container">
    <form [formGroup]="updateStudentForm" (ngSubmit)="updateData()">
      <div>
        <input type="number" placeholder="Enter Roll No" formControlName="rollNo">
      </div>

      <div>
        <input type="text" placeholder="Enter Student Name" formControlName="name">
      </div>

      <div>
        <input type="number" placeholder="Enter Age" formControlName="age">
      </div>

      <div>
        <input type="text" placeholder="Enter Email Addresss" formControlName="email">
      </div>
      <div class="lable-text">
        <p>Select Gender</p>
      </div>
      <div class="radio-section">
        <label>
          <input type="radio" formControlName="isMale" [value]="true" />Male
        </label>
        <label>
          <input type="radio" formControlName="isMale" [value]="false" /> Female
        </label>
      </div>
      <div class="lable-text" style="margin-bottom: 12px;">
        <p>Select Date</p>
      </div>
      <div>
        <input type="date" placeholder="Select Admission Date" formControlName="date">
      </div>
      <div>
        <button>UPDATE STUDENT</button>
      </div>
    </form>
  </div>
</section>

<router-outlet></router-outlet>