

.add-section{
    width: 100%;
}
.add-student{
    width: 80%;
    margin: 0 auto;
}
.form-container{
    width: 80%;
    margin: 60px auto;
    background-color: rgb(147, 180, 218);
    padding-bottom: 50px !important;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.form-container > form{
    padding: 25px;
    display: flex !important;
    flex-direction:column !important;
    align-items: center !important;
}
.form-row{
    display: flex !important;
    gap: 50px !important;
    align-items: center !important;
    margin-top: 10px !important;
}
.mat-mdc-radio-button.mat-accent{
    --mdc-radio-selected-icon-color: #1d0131;
    --mat-radio-checked-ripple-color: #000000;
    --mdc-radio-selected-focus-icon-color: #15080c;
    --mdc-radio-selected-hover-icon-color: #b1b1b1;
}

.mat-mdc-radio-button .mdc-form-field {
    color: rgba(250, 250, 250, 0.87);
}