

.search-section{
    width: 80%;
    margin: auto;
}
.main-section{

}
.table-section{
    width: 80%;
    margin: auto;
}
.center-align{
    text-align: center;
}
.paginator-section{
    background-color:rgb(217, 218, 220);
 padding: 20px 10px;
}
.mat-mdc-paginator {
background-color: rgb(217, 218, 220);
}
table{
    width: 80% !important;
    background-color: rgb(217, 218, 220);
    padding : 20px;
    border-radius: 5px;
}
.crudSection{
    width: 80%;
}